[submodule "lib/OpenIndy-Core"]
	path = lib/OpenIndy-Core
	url = https://github.com/OpenIndy/OpenIndy-Core.git
[submodule "lib/OpenIndy-TachyControl"]
	path = lib/OpenIndy-TachyControl
	url = https://github.com/OpenIndy/OpenIndy-TachyControl.git
